/* fonts */

@font-face {
    font-family: EB_Garamond;
    src: url(../fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: Merriweather_Regular;
    src: url(..//fonts/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
    font-family: Merriweather_Bold;
    src: url(..//fonts/Merriweather/Merriweather-Bold.ttf);
}
:root{
    --white:#fff;
    --black:#000;
    --textColor:#262626;
    --backgroundColor:#f2f2f2;
    --buttonColor:#707070;
    --navFooter:#8c8c8c;
    --kontrast:#3b3b3b;


}
/* allgemein */
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: Merriweather_Regular;
    font-size: 1rem;
}
.clearfix::after{
    display: block;
    content: "";
    clear:both;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
h1{
    font-family: Merriweather_Bold;
    font-size:60px;
    letter-spacing: 0.54px;
}
h2{
    font-family: Merriweather_Bold;
    font-size:30px;
}
h3{
    font-family: Merriweather_Bold;
    font-size:23px;
}
.headertext{
    font-family: Merriweather_Regular;
    font-size: 25px;
}
.buttontext{
    font-family: EB_Garamond;
    font-size:20px;
    letter-spacing: 2px;
}