@charset "UTF-8";
/* fonts */
/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* merriweather-900 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* eb-garamond-regular - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.svg#EBGaramond")
      format("svg"); /* Legacy iOS */
}
/* eb-garamond-600 - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.svg#EBGaramond")
      format("svg"); /* Legacy iOS */
}
:root {
  --pureWhite: #fff;
  --white: #f2f2f2;
  --pureBlack: #000;
  --black: #262626;
  --kontrastOne: #194a9d;
  --kontrastTwo: #e28924;
  --kontrastTwo70: rgb(226 137 36 / 80%);
  --headline: 900 54px "Merriweather";
  --headTwo: 700 40px "Merriweather";
  --headTwoBig: 700 54px "Merriweather";
  --headTree: 700 26px "Merriweather";
  --headerLetter: 400 25px "Merriweather";
  --text: 400 16px "Merriweather";
  --button: 400 20px "EB Garamond";
}

/* Desktop */
main{
  scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
article {
  background-color: var(--white);
  scroll-snap-align: center;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

nav {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
nav ul li a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  transform: translate(-50%, -50%);
}
.dot {
  width: 100%;
  display: block;
  height: 100%;
}
.blueDot {
  background: var(--kontrastOne);
  border-radius: 50%;
}
.navCircles {
  padding: 0.5rem;
  background-color: var(--white);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--black);
  position: relative;
}
/* Header */
.headerImg {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: right;
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.headerTextBlock {
  margin-top: auto;
  margin-bottom: 15rem;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.headline {
  font: var(--headline);
  color: var(--white);
}
.headertext {
  font: var(--headerLetter);
  color: var(--white);
  margin-left: 7rem;
}
.headertext > span {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  gap: 1rem;
}
.underline {
  border-bottom: 1px solid var(--white);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.button,
.button a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  border-radius: 15px;
  width: 100%;
  text-align: center;
  font: var(--button);
}
.headCirlces {
  mix-blend-mode: multiply;
}
header .headCirlces:first-of-type {
  bottom: 16vw;
  right: 0;
  width: 20%;
  transform: translate(50%);
}
header .headCirlces:last-of-type {
  bottom: 0;
  right: 0;
  width: 50%;
  transform: translate(50%, 50%);
}

/* Header ENDS*/
/* Geschichte */
#history {
  background-color: transparent;
}

.pocketWatch {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
  width: 50vw;
  transform: translate(10%, 38%) rotate(-34deg);
}
.pocketZeiger {
  z-index: -2;
  position: absolute;
  right: 17.6vw;
  bottom: -0.7vw;
  width: 10vw;
  transform: rotate(0deg);
  transform-origin: bottom right;
}

/* Person */
#person {
  overflow: hidden;
}
#person > div {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.zielIcons {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 5rem;
  margin-left: 5vw;
}
.zielIcons a {
  margin: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--kontrastOne);
  transition: 0.5s;
}
.zielIcons a:hover {
  border: 5px solid var(--kontrastTwo);
  padding: 0.5rem;
  margin: 0;
}
.zielIcon {
  width: 3rem;
}
.zielIcons a.iconActive {
  border: 5px solid var(--kontrastOne);
  padding: 1rem;
  margin: 0;
  background: var(--kontrastTwo70);
}
.textPerson {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30vw;
  margin-left: 5vw;
}
.zieleText {
  overflow: visible;
  height: 0;
}

/* Spenden */

#spenden{
  background-color: var(--kontrastOne);
}

.texteSpenden{
  margin: 2vw 8vw;
  padding: 2vw;
  background-color: var(--white);
  display: flex;
  gap: 1rem;
}
.texteSpenden div{
  /* flex-basis: 50%; */
  display: flex;
  flex-direction: column;
}
.texteSpenden h2{
  margin-bottom: 1rem;
}

.spendenAktion img{
  width: calc(100% - 20vw);
}
.bankdaten span:first-of-type{
  color: #000;
  font-family: "arial";
  font-weight: 600;
}

.textBlockSpenden{
  flex-basis: 50%;
}
.spendenDaten{
  display: flex;
  gap:1rem;
  flex-direction: column;
}
.spendenDaten p,
.spendenAktion p,
.spendenAktion img{
  margin-left: 5vw;
}
.spendenDaten > :first-child,
.spendenAktion > :first-child{
  flex-basis: 50%;
}
.spendenDaten > :last-child,
.spendenAktion > :last-child{
   flex-basis: 50%;
}
/* Allgemein */

.textBlock {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 3;
}
.textBlock > .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40vw;
  margin-left: 5vw;
}

.noDesktop {
  display: none;
}
.inhaber{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: auto;
  width: 33vw;
}
#Dreieck{
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
}
#Circle3 {
  width: 85vw;
  position: absolute;
  right: -45vw;
  bottom: -80vh;

  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 100s;
  -moz-animation-duration: 100s;
  -ms-animation-duration: 100s;
  -o-animation-duration: 100s;
  animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(-360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(-360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(-360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
/* SpinningCoin */

#spinningCoin {
  display: block;
  min-width: 25vw;
  height: 25vw;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  animation: turn 5s infinite linear;
  margin: auto;
/*   position: absolute; */
  /* right: 10%;
  top: 30%; */
  flex-grow: 1;
}
  #spinningCoin img{
    width: 100%;
  }
  .coin{
      display: block;
      position: absolute;
      width: 95%;
      height: 95%;
      -webkit-transform-style: preserve-3d;
      background:radial-gradient(#d5d7d7,#d5d7d7,black);
      border-radius:50%;
      border:5px solid #d5d7d7; 
      width: 25vw;
      height: 25vw;
  }

  #child {

      -webkit-transform: translateZ(0px);
  }

  #child:after{
    content: '';
    position: absolute;
    background: rgb(25 25 25 / 52%);
    width: 200px;
    height: 20px;
    top: 120%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(25 25 25 / 52%);
  }

  #child1 {
      -webkit-transform: translateZ(-10px);
  }

  #child2 {
      -webkit-transform: translateZ(-5px);

  }

  #child3 {
      -webkit-transform: translateZ(-2px);
  }

  #child4 {
      -webkit-transform: translateZ(-8px);
  }

  #child5 {
      -webkit-transform: translateZ(-12px);
  }

  #child6 {
      -webkit-transform: translateZ(-14px);
  }

  #child7 {
      -webkit-transform: translateZ(-16px);
  }

  #child8 {
      -webkit-transform: translateZ(-18px);
  }



  
  @keyframes turn{
      0%{
      transform: rotateY(-180deg);
      }
      100%{
      transform: rotateY(180deg);
      }
  }