@charset "UTF-8";
/* fonts */
/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.svg#Merriweather") format("svg"); /* Legacy iOS */
}
/* merriweather-900 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.svg#Merriweather") format("svg"); /* Legacy iOS */
}
/* eb-garamond-regular - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.svg#EBGaramond") format("svg"); /* Legacy iOS */
}
/* eb-garamond-600 - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.svg#EBGaramond") format("svg"); /* Legacy iOS */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 1rem;
  overflow: hidden;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
header {
  position: relative;
  height: 100vh;
  display: flex;
  scroll-snap-align: center;
}
svg.headCirlces {
  position: absolute;
  z-index: 1;
}

main{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
article{
    height: 100vh;
    width: 100%;
    
    position: relative;
    display: flex;
}
p{
  font: var(--text);
  color: var(--black);
  line-height: 1.5rem;
}
.wordColorKontrastOne{
  color: var(--kontrastOne);
}

.wordColorKontrastTwo{
    color: var(--kontrastTwo);
}
.textWhite,
.textWhite p
{
  color: var(--white);
}
.colorSheme {
  z-index: 0;
  top: 0;
  position: absolute;
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(to bottom, var(--pureWhite), transparent);
  opacity: 0.25;
}
.completeMultiplyBlue {
  mix-blend-mode: multiply;
  background-color: var(--kontrastOne);
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
}
.completeBlue {
  background-color: var(--kontrastOne);
  height: 100vh;
  width: 100%;
  position: absolute;
}
.completeWhite {
  background-color: var(--white);
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
}
.headTwoBig{
  font: var(--headTwoBig);
}
.headTwo{
  font: var(--headTwo);
}
.einRem{
  margin-bottom: 1rem;
}
