@charset "UTF-8";
/* fonts */
/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-regular.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-700.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* merriweather-900 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v25-latin/merriweather-v25-latin-900.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* eb-garamond-regular - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-regular.svg#EBGaramond")
      format("svg"); /* Legacy iOS */
}
/* eb-garamond-600 - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/eb-garamond-v15-latin/eb-garamond-v15-latin-600.svg#EBGaramond")
      format("svg"); /* Legacy iOS */
}
:root {
  --pureWhite: #fff;
  --white: #f2f2f2;
  --white50: rgba(242, 242, 242, 0.5);
  --pureBlack: #000;
  --black: #262626;
  --kontrastOne: #194a9d;
  --kontrastTwo: #e28924;
  --kontrastTwo70: rgb(226 137 36 / 80%);
  --headline: 900 40px "Merriweather";
  --headTwo: 700 30px "Merriweather";
  --headTwoBig: 700 40px "Merriweather";
  --headTree: 700 23px "Merriweather";
  --headerLetter: 400 22 px "Merriweather";
  --text: 400 16px "Merriweather";
  --button: 400 20px "EB Garamond";
  --menuText: 400 40px "EB Garamond";
  
}
/* not support */
@supports not (mix-blend-mode: multiply) {
  svg {
    display: none;
  }
}
/* allgemein */
/* Desktop */
html{
  background-color: var(--white);
}
.wrapper {
  max-width: 320px;
  margin: auto;
}
nav {
  display: none;
  position: fixed;
  top: 60%;
  left: 50%;
  z-index: 3;
  width: 90%;
  transform: translate(-50%, -50%);
  background-color: var(--black);
  border-radius: 15px 0 15px 15px;
}
nav ul {
  font: var(--menuText);
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  height: 100%;
}
nav ul a {
  color: var(--white);
  text-decoration: none;
}
nav:before {
  content: "";
  position: absolute;
  transform: translate(0, -97%);
  right: 0;
  top: 0;
  border-left: 60px solid transparent;
  border-bottom: 60px solid var(--black);
}
.rotate45 {
  transform: rotate(45deg);
}
.burger {
  background-color: var(--white);
  border-radius: 0 0 0px 15px;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
}
  .burger a {
    color: var(--black);
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: 1s;
    font-size: 2rem;
  }
  .menuOpen{
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--black);
    opacity: 0.3;
  }
header {
  align-items: flex-end;
}
.headerImg {
  object-fit: cover;
  height: 100%;
  object-position: 70% bottom;
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.85;
}
.completeMultiply {
  mix-blend-mode: multiply;
  background-color: var(--kontrastTwo);
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
}
.headerTextBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  margin-bottom: 10%;
  margin-left: 8%;
}
.headline {
  font: var(--headline);
  color: var(--white);
}
.headertext {
  font: var(--headerLetter);
  color: var(--white);
}
.headertext > span {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}
.underline {
  border-bottom: 1px solid var(--white);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.button,
.button a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  border-radius: 15px;
  width: 100%;
  text-align: center;
  font: var(--button);
}

/* Header ENDS*/
/* Geschichte */
#history {
  background-color: transparent;
}

.pocketWatch {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
  max-width: 75vh;
  transform: translate(50%, 36%);
}

.timeline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.timelineText {
  margin-bottom: auto;
}
#timelineValue {
  font: var(--button);
  font-size: 40px;
}
.timeline .dreieck {
  width: 10vw;
  filter: drop-shadow(0px 3px 1px var(--black));
}
.timeline .dreieck:last-of-type {
  transform: rotate(180deg);
  filter: drop-shadow(0px -3px 1px var(--black));
}
.textBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2rem;
}

/* Person */
#person{
  height: fit-content;
}
#person.completeMultiplyBlue{
  height: 100%;
}
.mobileTextblockFix{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 30%;
  margin-bottom: auto;
  background-color: var(--white);
}
section.textBlock{
  margin-top: 0;
  margin-bottom: 0;
}
.zieleText {
  overflow: visible;
  height: 8rem;
  z-index: 1;
}
.zielIcons {
  gap: 1rem;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 5rem;
}
.zielIcons a {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--kontrastOne);
  transition: 0.5s;
}
.zielIcons a:hover {
  border: 5px solid var(--kontrastTwo);
  margin: 0;
}
.zielIcon {
  width: 3rem;
}
.zielIcons a.iconActive {
  border: 5px solid var(--kontrastTwo);
  margin: 0;
}
.textPerson >p{
  background-color: rgb(242 242 242 / 50%);
  padding: 0.5rem 0rem;
}
#Sniggle{
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  transform: translateY(50%);
}


/* Spenden */
#spenden{
    z-index: -1;
    margin-top: 30%;
    height: auto;
    background-color: var(--white);
}
.textBlockSpenden{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin-left: 8%;
  margin-right: 8%; */
  margin-top: 2rem;
}
.texteSpenden{
  margin-left: 8%;
  margin-right: 8%;
}
picture{
  margin-bottom: 10%;
    margin-left: 8%;
    margin-right: 8%;
    display: block;
}
.bankdaten span:first-of-type{
  color: #000;
  font-family: "arial";
  font-weight: 600;
}
.spendenDaten {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
/* Galerie */
#galerie{
  display: block;
  height: auto;
  overflow: hidden;
}
.galerie{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 10%;
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 2rem;
  z-index: 2;
}
.Galerie1{
  position: absolute;
  bottom: 0;
  width: 100vw;
  transform: translateY(50%);
  left: 0;
}
.Galerie2{
  position: absolute;
    z-index: 0;
    right: -25%;
    top: 10%;
    width: 10rem;
}
.fotorama__wrap{
  width: 100% !important;
}
/* questions */

  #questions{
    background-color: var(--kontrastOne);
    overflow:hidden;
  }
  .questions{
    display: flex;
    flex-direction: column;
    margin: auto 8vw;
    padding: 2vw;
    gap: 3rem;
    width: 100%;
    z-index: 5;
  }
  .questions section{
    width: 100%;
  }
  .questions input,
  .questions textarea{
    font: var(--text);
    width: 100%;
  }
  .formInput{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .formInput *{
    width: 100%;
  }
  form .button{
    border: none;
    width: auto;
  }
  .checkbox{
    display: flex;
  }
  .checkbox span{
    width: 6rem;
  }
  .checkbox input{
    height: 1.5rem;
    margin-left: 1rem;
    width: 1rem;
  }
  .questionsFlexButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #Circle-question1{
    position: absolute;
    bottom: 0;
    width: 100vw;
    transform: translateY(50%);
    left: 0;
  }
  #Circle-question2{
    position: absolute;
    height: 17vh;
    right: 5%;
    top: 20%;
  }

/* footer */
.footer{
  background-color: var(--kontrastTwo);
  height: 10rem;
  position: relative;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer a{
  color: var(--white);
  text-decoration: none;
}
.footer span{
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,0%);
  font-size: 10px;
  width: 100%;
  text-align: center;
}
.interneLinks{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 8vw;
  justify-content: center;
}
.sozials{
  display: flex;
  gap: 1rem;
  height: fit-content;
  margin-right: 8vw;
}
.sozials a{
  display: block;
  padding: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--white);
}
.sozials a img{
  width: 1rem;
  height: 1rem;
}



/* Allgemein */
.disable {
  visibility: hidden;
  pointer-events: none;
}
.wave{
  z-index: -1;
  position: absolute;
}
.noMobile {
  display: none;
}

